/* --------------- reset.css --------------- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
	a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
		margin:0;
		padding:0;
		font-size:100%;
		vertical-align:baseline;
		background:transparent;
		outline:none;
	}
	table {						/* устраняем отступы между ячейками таблицы */
		border-collapse: collapse;
		border-spacing: 0;
	}
	td, td img {
		vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
	}
	input, select, button, textarea {
		margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
		font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
		outline: none;
	}
	input[type="text"], input[type="password"], textarea {
		padding: 0; 				/* убираем внутренние отступы для текстовых полей */
	}
	input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
		vertical-align: bottom;
	}
	input[type="radio"] {
		vertical-align: text-bottom;
	}
	sub {
		vertical-align: sub;
		font-size: smaller;
	}
	sup {
		vertical-align: super;
		font-size: smaller;
	}
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display:block;
	}
	nav ul {
		 list-style:none;
	}
/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
	body {
		color: #000;
		background: #fff;
		text-align: left;
		font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
		min-height: 100%;
    font-family: 'Lato', sans-serif;
	}
	a, a:visited { /* порядок правил для ссылок имеет значение */
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		color: #4bcaff;
		text-decoration: none;
	}
	a:focus, a:active {
		color: #4bcaff;
		text-decoration: none;
	}
	img{
		max-width: 100%;
	}
	.centerfix{
		max-width: 1170px;
		margin: 0 auto;
	}
/* --------------- базовые настройки ---------*/
/*header styles*/
header{
	background-color: rgba(7, 7, 7, 0.3);
	position: absolute;
	z-index: 2;
	width: 100%;
}
	header a{
		text-transform: uppercase;
	}
		.header-top{
			padding: 15px 0 28px 0;
			display:flex;
			justify-content: space-between;
			align-items: center;
		}
			.menu{
				display: flex;
				font-family: 'Droid Sans', sans-serif;
			}
				.menu li{
					font-size: 0.8125em;
					padding: 10px 5px 0 31px;
				}
				header a:active,
				header a:focus{
					font-weight: bold;
				}
/*slider styles*/
.slider img{
	width: 100%;
}
	.slider ul li{
		position: relative;
		color: #fff;
		font-family: 'Lato Light', sans-serif;
		border-bottom: 4px solid #4bcaff;
		font-size: 0; /*чтобы небыло снизу белой полосы*/
	}
		.slide-text-wrapper{
			max-width: 680px; /*чтобы не вылазил за границы*/
			position: absolute;
			top: 43%;
			left: 44%;
		}
		.slider ul li h2{
			font-size: 48px;
			font-weight: 300;
		}
			.slider ul li h2 span{
				font-weight: bold;
				letter-spacing: 0.02em;
			}
		.slider ul li p{
			margin-left: 1px;
			margin-top: 14px;
			font-size: 18px;
			font-weight: 300;
			letter-spacing: -0.01em;
		}
		.download-btn{
			display: inline-block;
			margin-top: 37px;
			margin-left: 5px;
			padding:  22px 50px 20px 50px;
			border:  2px solid #fff;
			border-radius: 5px;
			font-size: 15px;
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 0.02em;
		}
		.download-btn:hover{
			border-color: #4bcaff;
		}
	.unslider-nav{/* кнопки навгации при дефолте видны только в панели разработчика - проявим их явно*/
		margin: -20px auto 0 auto; /*чтобы не было белого отступа после слайдера*/
		position: relative;
		top: -18px; /*чтобы поднять повыше*/
	}
		.unslider-nav ol {
		  list-style: none;
		  text-align: center;
		}
		.unslider-nav ol li {
		  display: inline-block;
		  width: 11px;
		  height: 11px;
		  margin: 0 4px;
		  background: transparent;
		  border-radius: 10px;
		  overflow: hidden;
		  text-indent: -999em;
		  border: 1px solid #fff;
		  cursor: pointer;
		}
		.unslider-nav ol li.unslider-active {
			width: 15px;
		  height: 15px;
			background: #4bcaff;
		  border: 1px solid #4bcaff;
		  cursor: default;
		}
/*news-block styles*/
.features{
	background-color: #f9f9f9;
	text-align: center;
	color: #414042;
	border-bottom: 1px solid #e7e7e7;
	padding: 40px 0 117px 0;
}
	.features h2{
		text-transform: lowercase;
		font-family: 'Lato Black', sans-serif;
		font-size: 36px;
	}
	.features h3{
		text-transform: lowercase;
		font-size: 20px;
		font-family: 'Lato Light', sans-serif;
	}
	.features .centerfix{
		margin-top: 65px;
		display: flex;
		justify-content: space-around;
	}
	.features article{
		width: 28%;
		text-align: center;
	}
	.features article img{
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}
	.features article h2{
		font-size: 15px;
		font-weight: bold;
		margin: 25px 0 21px;
		text-transform: uppercase;
		color: #414042;
	}
	.features article p{
		font-size: 0.875em;
		padding-bottom: 3px;
		color: #838383;
		font-family: 'Myriad Pro Regular', sans-serif;
		line-height: 1.5;
	}
/*catalog styles*/
.catalog{
	margin-bottom: 36px;
	text-align: center;
	color: #414042;
	padding: 30px 0 50px 0;
}
	.catalog h2{
		text-transform: lowercase;
		font-family: 'Lato Black', sans-serif;
		font-size: 36px;
	}
	.catalog h3{
		text-transform: lowercase;
		font-size: 20px;
		font-family: 'Lato Light', sans-serif;
		letter-spacing: -0.02em;
	}
	.block-catalog{
		margin-top: 56px;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
	}
		.block-catalog article{
			display: flex;
			flex-direction: column;
			width: 23%;
		}
		.block-catalog img{
			max-width: 100%;
			display: block;
			margin: 0 auto;
		}
			.catalog-content p{
				font-size: 13px;
				text-align: center;
				color:#838383;
				padding: 20px;
				line-height: 1.7;
			}
			/*video styles*/
			/*About styles*/
.video-section{
	background: url("../images/video-bg.jpg") no-repeat center top;
	background-size: cover; /*растянуть на весь экран*/
	padding: 160px 0 140px;
}
	.video-content{
		color: #fff;
		font-family: 'Lato Light', sans-serif;
		text-align: center;
	}
	.video-content img{
		cursor: pointer;
		margin-bottom: 27px;
	}
	.video-content h2{
			font-size: 48px;
			font-weight: 300;
			letter-spacing: -0.01em;
		}
			.video-content h2 span{
				font-weight: 600;
			}
		.video-content p{
			margin-top: 18px;
			font-size: 18px;
			font-weight: 300;
			padding: 0 20%;
			text-align: left;
		}
/*Subscribe styles*/
.subscribe{
	background-color: #414042;
}
		.subscribe .centerfix{
			padding: 26px 0 33px;
			text-align: center;
		}
			.subscribe h2{
				color: #fff;
				font-weight: bold;
				font-size: 55px;
				letter-spacing: -0.06em;
			}
			.subscribe .downloadnow-btn{
				background-color: #4bcaff;
				color: #414042;
				box-shadow: 0 4px 0 0 #277697;
				border: none;
				display: inline-block;
				margin-top: 25px;
				padding: 21px 45px 21px 30px;
				border-radius: 5px;
				font-size: 15px;
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: -0.09em;
			}
			.subscribe .download-btn:hover{
				color:#fff;
			}
/*contact styles*/
.contact-section{
	position: relative;
	height: 680px;
}
	.contact-block{
		background: rgba(75, 202, 255, 0.7);
		width: 320px;
		padding: 17px 23px;
		text-align: center;
		position: absolute;
		border-radius: 5px;
		box-sizing: border-box;
		bottom: 110px;
		left: 50%;
		margin-left: -160px;/*чтобы центр формы совпал с центром страницы - ширина формы пополам*/
	}
		.contact-block h2{
			font-weight: bold;
			color: #fff;
			font-size: 36px;
			padding-bottom: 25px;
		}
			.contact-block .contact-form{
				padding: 10px 20px;
				border: none;
				width: 100%;
				box-sizing: border-box;
				font-family: 'Arial Regular', sans-serif;
				margin-bottom: 14px;
				border-radius: 5px;
				text-align: center;
				font-size: 14px;
				color: #d3d3d3;
			}
			.contact-block input[type="submit"]{
				background-color:#414042;
				color: #72b3cc;
				cursor: pointer;
				padding: 17px 77px 12px;
				border: none;
				border-radius: 5px;
				font-weight: bold;
				font-size: 15px;
				box-shadow: 0 4px 0 0 #313032;
			}
/*Footer styles*/
footer{
	background-color: #414042;
	padding: 50px 0;
	color: #79787a;
}
	footer p{
		font-size:12px;
	}

@media screen and (max-width:1100px) {
	.slide-text-wrapper{
		top: 30%;
	}
	.slider ul li h2{
		font-size: 36px;
	}
	.slider ul li p{
		font-size: 15px;
	}
	.download-btn{
		padding:  15px 30px;
		font-size: 15px;
	}
@media screen and (max-width:900px) {
	.slider ul li h2{
		font-size: 30px;
	}
	.slider ul li p{
		font-size: 12px;
	}
	.download-btn{
		padding:  10px 20px;
		font-size: 12px;
		margin-top: 15px;
	}
	.block-catalog{
	flex-wrap: wrap;
	justify-content: space-around;
	}
	.block-catalog article{
		width: 45%;
		margin-bottom: 30px;
	}
}
@media screen and (max-width:640px) {
	header{
		position: relative;
		background-color: rgb(7, 7, 7);
	}
	.slide-text-wrapper{
		top: 15%;
	}
	.slider ul li h2{
		font-size: 25px;
	}
	.slider ul li p{
		font-size: 10px;
	}
	.download-btn{
		padding:  10px 15px;
		font-size: 10px;
	}
	.features .centerfix{
		flex-direction: column;
	}
	.features article{
		width: 95%;
		margin: 10px 2.5%;
	}
	.catalog{
		margin-top: 20px;
		margin-bottom: 0;
	}
	.header-top{
		flex-direction: column;
		align-items: center;
		padding: 15px 0;
	}
	.header-top .logo{
		padding-bottom: 10px;
	}
	.menu{
		flex-wrap: wrap;
		justify-content: flex-start;
	}
		.menu li{
			margin-right: 10px;
		}
		.video-content p{
		padding: 0 10%;}
@media screen and (max-width:580px) {
	.block-catalog{
		flex-direction: column;
	}
		.block-catalog article{
			width: 95%;
			margin: 10px 2.5%;
		}
	.slide-text-wrapper{
		top: 5%;
	}
		.slider ul li h2{
			font-size: 20px;
		}
		.download-btn{
			padding:  10px;
			font-size: 10px;
		}
	.features{
		padding: 10px 0;}
	.features .centerfix{
		margin-top: 10px;	}
	.catalog{
		padding: 10px 0;}
		.block-catalog{
			margin-top: 10px;}
	.video-section{
		padding: 10px 0;}
		.video-content h2{
			font-size: 20px;}
			.video-content p{
			font-size: 12px;}
	.subscribe h2{
		font-size: 20px;	}
	.subscribe .downloadnow-btn{
		margin-top: 15px;
		padding: 10px;
	}
	footer{
		padding: 15px;
	}
}
@media screen and (max-width:420px) {
	.slide-text-wrapper{
		top: 5%;
	}
		.slider ul li h2{
			font-size: 12px;
		}
		.slider ul li p{
			font-size: 10px;
		}
		.download-btn{
			padding: 5px;
			font-size: 10px;
		}
		.features h2,
		.catalog h2{
			font-size: 20px;}
		.features h3,
		.catalog h3{
			font-size: 18px;}
}
